In [1]:
#pip3 install mysql-connector-python

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import config

In [3]:
# MySQL database configuration
db_config = {
    'user': config.username,
    'password': config.password,
    'host': config.host,
    'database': config.database,
    'raise_on_warnings': True
}

In [4]:
csv_files = ['artist','canvas_size', 'museum', 'museum_hours', 'product_size', 'subject', 'work' ]

In [5]:
for i in csv_files :
    
    # CSV file path
    csv_file_path = f'{i}.csv'

    # Table name in MySQL
    table_name = f'{i}'

    # Create a SQLAlchemy engine
    engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")

    # Read CSV into a Pandas DataFrame
    df = pd.read_csv(csv_file_path)

    # Insert DataFrame records into MySQL using SQLAlchemy
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

    print("Data imported successfully.")

Data imported successfully.
Data imported successfully.
Data imported successfully.
Data imported successfully.
Data imported successfully.
Data imported successfully.
Data imported successfully.